.custom-cta-button {
    border: none;
    margin: 0;
    padding: 0 22px;
    font-family: 'EsBuildBold', sans-serif;
    font-size: 12px;
    background: var(--poyse-evening-fig);
    color: var(--poyse-white);
    border-radius: 8px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1%;
    text-decoration: none;
    cursor: pointer;
    transition:
            background-color 0.2s ease,
            color 0.2s ease,
            border-color 0.2s ease;

    &.tan {
        background: var(--poyse-bare-form);
        color: var(--poyse-evening-fig);

        &:hover {
            background: white;
        }
    }

    &.transparent-fig {
        background: rgba(105, 40, 48, 0.25);
        color: var(--poyse-bare-form);

        &:hover {
            background: var(--poyse-deep-current);
        }
    }

    &.full-width-cta {
        width: 100%;
    }

    &.narrow-padding {
        padding: 0 8px;
    }

    @media screen and (min-width: 1024px) {
        padding: 0 44px;

        &.narrow-padding {
            padding: 0 22px;
        }
    }
}
