.science-formula {
  padding: 44px 0;
  margin: 0 8px 8px 8px;
  border-radius: 8px;
  background: var(--poyse-bare-form);

  @media screen and (max-width: 767px) {
    padding-bottom: 16px;
  }
}

.science-formula__showcase {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding-bottom: 44px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.science-formula__lead {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 1.3;

  @media screen and (max-width: 767px) {
    font-size: var(--font-size-md);
  }
}

.science-formula__lead--left {
  flex: 1;
  text-align: center;
  padding: 0 16px;

  @media screen and (max-width: 767px) {
    flex: none;
  }
}

.science-formula__lead--right {
  text-align: center;
  font-family: 'SignifierLightItalic', serif;
  font-style: italic;
  color: var(--poyse-evening-fig);
  flex: 1;
  padding: 0 16px;

  @media screen and (max-width: 767px) {
    flex: none;
  }
}

.science-formula__lead--left span, .science-formula__lead--right span {
  display: inline-block;
  max-width: 336px;
  margin: 0 auto;
}

.science-formula__media {
  position: relative;
  flex: 1;
  max-width: 442px;
  aspect-ratio: 4 / 5;

  @media screen and (max-width: 767px) {
    flex: none;
    margin: 0 auto;
    width: 80%;
  }
}

.science-formula__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.science-formula__row {
  display: flex;
  gap: 24px;
  border-top: 1px solid var(--poyse-evening-fig);
  margin: 0 16px;
  padding-top: 44px;
  color: var(--poyse-evening-fig);

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.science-formula__copy {
  display: flex;
  line-height: 1.6;
  flex: 1;
  padding: 32px 32px 0 32px;
  font-size: var(--font-size-sm);

  @media screen and (max-width: 767px) {
    flex: none;
    padding: 0 0 24px 0;
  }
}

.science-formula__callout {
  padding: 3.2rem;
  border-radius: 1.2rem;
  flex: 1;
  color: white;

  @media screen and (max-width: 767px) {
    flex: none;
  }
}

.science-formula__callout-heading {
  margin: 0 0 24px 0;
  font-size: var(--font-size-lg);
  line-height: 1.3;

  @media screen and (max-width: 767px) {
    font-size: var(--font-size-md);
  }
}

.science-formula__callout-heading em {
  display: block;
  font-family: 'SignifierLightItalic', serif;
  font-style: italic;
}

.science-formula__callout-text {
  line-height: 1.6;
}
