.more-flavors__layout {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }
}

.more-flavors__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  @media screen and (min-width: 768px) {
    flex: 0 0 450px;
    max-width: 450px;
  }
}

.more-flavors__heading {
  margin: 0;
  font-weight: normal;
  font-size: var(--font-size-lg);
  letter-spacing: 0;
  line-height: 1.1;
}

.more-flavors__grid {
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
  min-width: 0;
}
