.collection-heading {
  margin: 0 8px;
  padding: 72px 0 0 0 !important;

  &.collection-heading--bordered {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.collection-heading__title {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 16px;
  font-family: 'SignifierLightItalic', serif;
  font-size: var(--font-size-lg);
  line-height: 1.15;
  color: var(--poyse-bare-form);
  @media screen and (min-width: 1024px) {
    font-size: var(--font-size-xl);
  }
}
