.science-ingredients {
  padding: 44px 0;
  margin: 0 8px;
  background: #ffffff;
}

.science-ingredients__list {

}

.science-ingredients__item {
  display: flex;
  padding: 88px;
  border-top: 1px solid rgba(57, 44, 45, 0.12);
}

.science-ingredients__item-head {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex: 2;
}

.science-ingredients__number {
  font-family: 'EsBuildMedium', sans-serif;
  color: var(--poyse-bare-form);
  margin-bottom: 8px;
}

.science-ingredients__item-heading-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.science-ingredients__item-heading {
  margin: 0;
  font-size: var(--font-size-lg);
  color: var(--poyse-evening-fig);
}

.science-ingredients__badge {
  display: inline-block;
  padding: 4px 12px;
  background: var(--poyse-deep-current);
  color: white;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: 'EsBuildBold', sans-serif;
  border-radius: 13px;
}

.science-ingredients__sub-badge {
  display: inline-block;
  padding: 4px 12px;
  background: var(--poyse-bare-form);
  color: var(--poyse-evening-fig);
  font-size: var(--font-size-2xs);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: 'EsBuildBold', sans-serif;
  border-radius: 13px;
}

.science-ingredients__item-text {
  line-height: 1.6;
  flex: 3;
}

.science-ingredients__sub-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 44px;
}

.science-ingredients__sub-item {
  background: #392C2D05;
  border: 1px solid #392C2D10;
  padding: 24px;
  font-family: 'EsBuildMedium', sans-serif;
  border-radius: 8px;
}

.science-ingredients__sub-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  font-family: 'EsBuildBold', sans-serif;
}

.science-ingredients__sub-item-heading {
  margin: 0;
}

.science-ingredients__sub-item-text {
  line-height: 1.6;
  opacity: 0.6;
}
